@font-face {
    font-family: "Gravity";
    src: url("./assets/mycustomfont.ttf") format("truetype");
}



body {

    //* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00002e+0,00002e+56,1d0063+78,62006b+94,990060+98,ff7c7f+100 */
background: #00002e; /* Old browsers */
background: -moz-linear-gradient(top,  #00002e 0%, #00002e 56%, #1d0063 78%, #62006b 94%, #990060 98%, #ff7c7f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00002e 0%,#00002e 56%,#1d0063 78%,#62006b 94%,#990060 98%,#ff7c7f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00002e 0%,#00002e 56%,#1d0063 78%,#62006b 94%,#990060 98%,#ff7c7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00002e', endColorstr='#ff7c7f',GradientType=0 ); /* IE6-9 */

    color: #fbfd90;

}

img{

    width: 100%;
    height: auto;
    

}

#avatar {
    position: absolute;
    align-self:center;
    width: 10%;
    left: 45%;
    top: 30%;
       

}

#avatar img:hover {
       animation: shake 0.5s;  
    animation-iteration-count: infinite;
    /*poner algo de audio luego como easteregg*/
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.intro {
    position: relative;
    text-align: center;
    color: white;
    margin: -50px ;

    
  }

#centered {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #650050 0px 2px 5px;
    font-size: 230%;
}

#centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 425%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #650050 0px 2px 5px;
  }


  #cen-butt-scroll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 450%);
    font-size: 200%
  }

.programacion,.diseño {

    margin: 7%;
    

}

#seccion {

    color: #16003e;
    font-size: 100%;
    padding: 2%;
    margin: 2%;
    background-color: #a95b98;
    box-shadow: #650050 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h2 {

    color: #29466d;

}
