
<div id="titlebar">
    <h2>Conocimientos</h2> 
    <div id="button"><div id="edit">Editar</div></div>
    
        <div id="post">
            <ul id="conocimientoBoton">
                <h6>Soft Skills</h6>
                <li *ngFor="let item of skillsPr.soft">
                    {{item}}
                </li>
                <br>
                <h6>Hard Skills</h6>
                <li *ngFor="let item of skillsPr.hard">
                    {{item}}
                </li>
            </ul>
        
        </div>

</div>