<div class="modal fade" id="modal-skills" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-skills">Modificar información</h5>
         
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
            <div class="mb-3">
              <label for="soft" class="form-label">Soft Skill</label>
              <input type="text" class="form-control" id="soft" formControlName="soft" placeholder="Habilidad">
                <div *ngIf="soft?.errors?.['required']">
                    <em>Ingrese una habilidad blanda.</em>
                </div>
                <div *ngIf="soft?.errors?.['minlength']">
                    <em>La habilidad debe tener al menos 2 caracteres.</em>
                </div>   
            
            </div>
            <div class="mb-3">
              <label for="hard" class="form-label">Hard Skill</label>
              <input type="text" class="form-control" id="hard" formControlName="hard" placeholder="Habilidad">
                <div *ngIf="hard?.errors?.['required']">
                    <em>Ingrese una habilidad dura.</em>
                </div>
                <div *ngIf="hard?.errors?.['minlength']">
                    <em>La habilidad debe tener al menos 2 caracteres.</em>
                </div>   
            
            </div>
            <div class="mb-3">
                <label for="idioma" class="form-label">Idioma</label>
                <input type="text" class="form-control" id="idioma" formControlName="idioma" placeholder="Klingon">
                <div *ngIf="idioma?.errors?.['required']">
                    <em>Ingrese un idioma.</em>
                </div>
                <div *ngIf="idioma?.errors?.['minlength']">
                    <em>La habilidad debe tener al menos 4 caracteres.</em>
                </div>   
            
            </div>           
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)=guardarSkills()>Guardar cambios</button>
                <button type="button" id="cerrarModalSkills" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              </div>     
         
          </form>
        </div>     
      </div>
    </div>
    </div>    

<!-- A partir de aca el post posta -->
<div id="titlebar">
    <h2>
    Conocimientos
    
        <div id="button"><button *ngIf="usuarioAutenticado" id= "boton-skills" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal-skills"
            (click)="mostrarDatosSkills()">Editar</button>
        </div>
    </h2>


        <div id="post">
            <ul id="conocimientoBoton">
                <h6>Soft Skills</h6>
                
                <li *ngFor="let item of skills.soft">
                    
                    {{item}}
                    
                </li>
                <br>
                <h6>Hard Skills</h6>
                <li *ngFor="let item of skills.hard">
                    
                    {{item}}
                
                </li>
                <br>
                <h6>Idiomas</h6>
                <li *ngFor="let item of skills.idiomas">
                    
                    {{item}}
                
                </li>
                
            </ul>
        
        </div>

</div>