<div id="navbar">
  <img src="../assets/img/APLogo-20-20.png" alt="arg-programa-logo">

  <!-- Button trigger modal -->
<button id= "botonlogin" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal-login">
  Login
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresá tu email y contraseña</h5>
       
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-9">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>     
    </div>
  </div>
</div>

<header>
  <app-portada></app-portada>
</header>

<br>

<main>
  <article>
  <div id="down"></div> 
    <app-conocimientos></app-conocimientos>
  <br>
    <app-educacion></app-educacion>
  <br>
    <app-otros-skills></app-otros-skills>
  </article>

<aside>
  <app-datos></app-datos>
</aside>
  
</main>


<div class="footer">
  <p>© 2022 Selene Natalia Michi</p>
</div>