<div id = "star-back">  
  <img src="../assets/img/stars.svg">
</div>

<nav class="navbar navbar-expand-lg fixed-top navbarScroll">
<div id="navbar">
  <img src="../assets/img/APLogo-20-20.png" alt="arg-programa-logo">

  <button id= "botonlogin" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal-login">
    Login
  </button>
</div>
</nav>

<header>

  <app-portada></app-portada>

</header>

<aside>
  <app-datos></app-datos>
</aside>

<br>

<main>
  <article>  
    <div id="down"></div>
    <app-educacion ></app-educacion>
  <br>
    <app-skills></app-skills>
  </article>

</main>

<div class="footer">
  <p>© 2022 Selene Natalia Michi</p>
</div>