<div>
  <img id = "orbit" src="../assets/img/orbit.svg" alt="orbit">
</div>


<div id="navbar">
  <img src="../assets/img/APLogo-20-20.png" alt="arg-programa-logo">
  <a href="#home">Inicio</a>
  <a href="#news">Login</a>
  <a href="#contact">Contacto</a>
</div>

<header>
  <app-portada></app-portada>
</header>

<br>

<main>
  <article>
  <div id="down"></div> 
    <app-conocimientos></app-conocimientos>
  <br>
    <app-educacion></app-educacion>
  <br>
    <app-otros-skills></app-otros-skills>
  </article>

<aside>
  <app-datos></app-datos>
</aside>
  
</main>


<div class="footer">
  <p>© 2022 Selene Natalia Michi</p>
</div>