<div id="header">

    <div class="container">
        <div class="row">
          <br>
          <div class="span4"></div>
          <div class="span4"><img class="mx-auto d-block avatar" [src]=persona.avatar alt = "avatar" /></div>
          <div class="span4"></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span4"><h1>{{persona.nombre}} {{persona.apellido}}</h1></div>
          <div class="span4"></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span4"><em><h4>{{persona.posicion}}</h4></em></div>
          <div class="span4"></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span4"> <br>
             
             <!-- Button trigger modal -->
             <div id="button"><button *ngIf="usuarioAutenticado" id= "boton-portada" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal-portada"
               (click)="mostrarDatosEncabezado()">Editar</button>
             </div>
             
             <!-- Modal -->
             <div class="modal fade" id="modal-portada" tabindex="-1" role="dialog" aria-labelledby="modal-portada" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                   <div class="modal-header">
                      <h5 class="modal-title" id="modal-portada">Modificar información</h5>
                   
                   </div>
                   <div class="modal-body">
                      <form [formGroup]="form">
                         <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Inserte su nombre">
                            <div *ngIf="nombre?.invalid && nombre?.touched" >                  
                            <div *ngIf="nombre?.errors?.['required']">
                                  <em>Ingrese un nombre.</em>
                            </div>
                            <div *ngIf="nombre?.errors?.['minlength']">
                                  <em>El nombre debe poseer al menos 5 caracteres.</em>
                            </div>
                            <div *ngIf="nombre?.errors?.['forbiddenName']">
                                  <em>お。。おつろ さま。。。 (ﾉ´ヮ`)ﾉ ♥~</em>
                            </div>
                            </div>
                         </div>

                         <div class="mb-3">
                           <label for="apellido" class="form-label">Apellido</label>
                           <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Inserte su apellido">
                           <div *ngIf="apellido?.invalid && apellido?.touched" >                  
                           <div *ngIf="apellido?.errors?.['required']">
                                 <em>Ingrese un apellido.</em>
                           </div>
                           <div *ngIf="apellido?.errors?.['minlength']">
                                 <em>El apellido debe poseer al menos 5 caracteres.</em>
                           </div>
                           <div *ngIf="apellido?.errors?.['forbiddenLastName']">
                                 <em>お。。おつろ さま。。。 (ﾉ´ヮ`)ﾉ ♥~</em>
                           </div>
                           </div>
                        </div>
                      
                         <div class="mb-3">
                            <label for="posicion" class="form-label">Posición</label>
                            <input type="text" class="form-control" id="posicion" formControlName="posicion" placeholder="Licenciado en placeholdereo">
                               <div *ngIf="posicion?.errors?.['required']">
                                  <em>Ingrese su posicion actual.</em>
                               </div>
                               <div *ngIf="posicion?.errors?.['minlength']">
                                  <em>La posición debe poseer al menos 5 caracteres.</em>
                               </div>                           
                         </div>                   
                         <div class="mb-3">
                         <label for="avatar" class="form-label">Avatar (acepta png, jpg, gif y svg)</label>
                         <input type="text" class="form-control" id="avatar" formControlName="avatar" placeholder="url">
                               <div *ngIf="avatar?.errors?.['required']">
                                  <em>Ingrese una url valida.</em>
                               </div>
                               <div *ngIf="avatar?.errors?.['minlength']">
                                  <em>La url no es valida. Por favor, escriba de nuevo.</em>
                               </div> 
                         </div>
                         <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)=guardarEncabezado()>Guardar cambios</button>
                            <button type="button" id="cerrarModalEncabezado" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            
                         </div>
                      </form>
                   </div>     
                </div>
             </div>
             </div>
          </div>
 
          <div class="span4"></div>
        </div>
        <div class="row">
          <div class="span4"></div>
          <div class="span4"><div class = "butt-scroll"> <a href="#down">▼</a></div>
          <div class="span4"></div>
        </div>
         
    
       </div>
    </div>
 </div>
 <br>
 
 