<div id="titlebar_b">
    <h2>Sobre mí</h2>
    
    <div id="button"><button id= "botondatos" type="button" *ngIf="usuarioAutenticado" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal-datos">
      Editar
    </button></div>
  
  <!-- Modal -->
  
   <div class="modal" tabindex="-1" id="modal-datos" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

         <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
 


        <div id="post">
            <div id="texto">
                <div><i>{{persona.aboutMe}}</i></div>
                <br>
                <h5>Fecha de Nacimiento:</h5>
                <div>{{persona.birthDate}}</div>
                <br>
                <h5>E-mail:</h5>
                <div>{{persona.mail}}</div>
                <br>
                <h5>Lugar de residencia:</h5>
                <div>{{persona.location}}</div>
            </div>
            <div><img src="../assets/img/Line.svg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                         <img class="disc-button" src="../assets/img/discord-b.svg" alt="discord-blue">
                        </div>
                        <div class="col">
                         <img class="git-button" src="../assets/img/github-b.svg" alt="github-blue">
                        </div>
                        <div class="col">
                            <img class="twitt-button" src="../assets/img/twitter-b.svg" alt="twitter-blue">
                        </div>
                        <div class="col">
                            <img class="linkedin-button" src="../assets/img/linkedin-b.svg" alt="linkedin-blue">
                        </div>
                    </div>
                </div>

        </div>
</div>

