<div class="modal fade" id="modal-datos" tabindex="-1" role="dialog" aria-labelledby="modal-datos" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-datos">Modificar información</h5>
         
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="mb-3">
              <label for="birthDate" class="form-label">Fecha de nacimiento</label>
              <input type="text" class="form-control" id="birthDate" formControlName="birthDate" placeholder="dd/mm/aaaa">
                <div *ngIf="birthDate?.errors?.['required']">
                    <em>Ingrese su fecha de nacimiento.</em>
                </div>
                <div *ngIf="birthDate?.errors?.['minlength']">
                    <em>La fecha debe tener 10 caracteres y respetar el formato ff/mm/aaaa.</em>
                </div>   
            
            </div>
            <div class="mb-3">
              <label for="mail" class="form-label">E-mail</label>
              <input type="text" class="form-control" id="mail" formControlName="mail" placeholder="tu@email.com">
                <div *ngIf="mail?.errors?.['required']">
                    <em>Ingrese su email.</em>
                </div>
                <div *ngIf="mail?.errors?.['email']">
                    <em>La casilla de email no es valida.</em>
                </div>   
    
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Residencia</label>
              <input type="text" class="form-control" id="location" formControlName="location" placeholder="Mi casa city">
                <div *ngIf="location?.errors?.['required']">
                    <em>Ingrese su ciudad de residencia.</em>
                </div>
                <div *ngIf="location?.errors?.['minlength']">
                    <em>La ciudad debe tener al menos 2 caracteres.</em>
                </div>   
       
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)=guardarDatos()>Guardar cambios</button>
                <button type="button" id="cerrarModalDatos" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                
            </div>
          </form>
        </div>     
      </div>
    </div>
    </div>

<div id="titlebar_b">
    <h2>Sobre mí
  
<!-- Button trigger modal -->
<div id="button"><button *ngIf="usuarioAutenticado" id= "boton-datos" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modal-datos"
    (click)="mostrarDatosDatos()">Editar</button>
</div></h2>
<!-- Modal -->

 


        <div id="post">
            <div id="texto">
                <div><i>{{persona.aboutMe}}</i></div>
                <br>
                <h5>Fecha de Nacimiento:</h5>
                <div>{{persona.birthDate}}</div>
                <br>
                <h5>E-mail:</h5>
                <div>{{persona.mail}}</div>
                <br>
                <h5>Lugar de residencia:</h5>
                <div>{{persona.location}}</div>
            </div>
            <div><img src="../assets/img/Line.svg"></div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col">
                         <img class="disc-button" src="../assets/img/discord-b.svg" alt="discord-blue">
                        </div>
                        <div class="col">
                         <img class="git-button" src="../assets/img/github-b.svg" alt="github-blue">
                        </div>
                        <div class="col">
                            <img class="twitt-button" src="../assets/img/twitter-b.svg" alt="twitter-blue">
                        </div>
                        <div class="col">
                            <img class="linkedin-button" src="../assets/img/linkedin-b.svg" alt="linkedin-blue">
                        </div>
                    </div>
                </div>

        </div>
</div>

