#titlebar_b {
   
    background: #c34690; /* Old browsers */
    background: -moz-linear-gradient(top,  #c34690 0%, #f0a8b0 1%, #c34690 3%, #801b89 48%, #7923b2 71%, #0a1b33 96%, #4c22ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c34690 0%,#f0a8b0 1%,#c34690 3%,#801b89 48%,#7923b2 71%,#0a1b33 96%,#4c22ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c34690 0%,#f0a8b0 1%,#c34690 3%,#801b89 48%,#7923b2 71%,#0a1b33 96%,#4c22ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c34690', endColorstr='#4c22ad',GradientType=0 ); /* IE6-9 */

      
    margin: 5%;
    margin-top: 0em;
    
    box-shadow: inset 0 0 3px  #1f1f49;
    border-radius: 10px;
  }

  #button {
   
    background: #4aaee8; /* Old browsers */
    background: -moz-linear-gradient(top,  #4aaee8 0%, #75bce5 2%, #5c447c 7%, #050736 12%, #43187f 63%, #43187f 67%, #43187f 67%, #2989d8 90%, #4aaee8 96%, #050736 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4aaee8 0%,#75bce5 2%,#5c447c 7%,#050736 12%,#43187f 63%,#43187f 67%,#43187f 67%,#2989d8 90%,#4aaee8 96%,#050736 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4aaee8 0%,#75bce5 2%,#5c447c 7%,#050736 12%,#43187f 63%,#43187f 67%,#43187f 67%,#2989d8 90%,#4aaee8 96%,#050736 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaee8', endColorstr='#050736',GradientType=0 ); /* IE6-9 */

      
    margin: 5%;
    margin-top: 0em;
    
    box-shadow: inset 0 0 3px  #1f1f49;
    border-radius: 10em;
    color: white;
    text-align: center;
    float: right;
    padding: 1em;
    transform: translateY(-2em);
    
    font-size: 100%;  
    
    
  }

  h2 {

    transform: translate( 0, 5px);
    margin-left:1em;
    font-size: 125%;

  }

  #post {

    background-color: #fff;
    color:#00002e;
    overflow: visible;
    margin: 10px;
    padding: 10px;  
    padding-left: 35px;
    border-radius: 10px;  
    box-shadow: inset 0px 4px 10px #1f1f49;
    font-size: 75%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

  }

  .butt-side {

    transform: translate( 0, 5px);
    flex: left;
    width: 10%;

  }

  
