<div id="titlebar_b">
    <h2>Datos personales</h2>
    <div id="button"><div id="edit">Editar</div></div>
        <div id="post">
            
            <h5>CUIL:</h5>
            <div>27-34928324-2</div>
            <br>
            <br>
            <h5>Fecha de Nacimiento:</h5>
            <div>5/10/1989</div>
            
            <div><img src="../assets/img/Line.svg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                         <img class="disc-button" src="../assets/img/discord-b.svg" alt="discord-blue">
                        </div>
                        <div class="col">
                         <img class="git-button" src="../assets/img/github-b.svg" alt="github-blue">
                        </div>
                        <div class="col">
                            <img class="twitt-button" src="../assets/img/twitter-b.svg" alt="twitter-blue">
                        </div>
                        <div class="col">
                            <img class="linkedin-button" src="../assets/img/linkedin-b.svg" alt="linkedin-blue">
                        </div>
                    </div>
                </div>

        </div>
</div>