/* Fonts */

@font-face {
  font-family: secadmirer;
  src: url(./assets/font/SecretAdmirer.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: franky;
  src: url(./assets/font/HeyFranky.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: moulin;
  src: url(./assets/font/moulin.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: gravity3;
  src: url(/assets/font/Gravity-3.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: steinfeld;
  src: url(/assets/font/Steinfeld.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: futurabook;
  src: url(http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: techovier;
  src: url(/assets/font/Techovier-bold.ttf);
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: rakyat;
  src: url(/assets/font/Rakyat.ttf);
  font-style:normal;
  font-weight:normal;
}


/* Otros settings generales */

*   { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: futurabook;
  
   
    text-decoration: none;
    color: white;
  
    
  
    height: 100%;

    background-image: url("./assets/img/stars-head-phold.png");
    background-repeat: repeat-y;    
  
  }

a {

  text-decoration: none;
    color: white;

}

/*scrolling*/

#down {

  transform: translateY(-5em);

}




