<div id="header">
      
    <img class = "avatar" src="../assets/img/portrait.png" alt = "avatar">
   
    
    <h1 class = "name">Selene Natalia Michi
        <img class="pen-button" src="../assets/img/pencil.svg" alt="edit-button-title"></h1>
    <div class = "subtitle">Fullstack Programmer ~ Multimedia Designer
        <img class="pen-button2" src="../assets/img/pencil.svg" alt="edit-button-subtitle"></div>
    
    <div class = "butt-scroll"> <a href="#down">▼</a></div>
</div>
<br>
<br>
<br>

