/*modal*/

.modal-header {
    background: #4aaee8; /* Old browsers */
    background: -moz-linear-gradient(top,  #4aaee8 0%, #75bce5 2%, #5c447c 7%, #050736 12%, #43187f 63%, #43187f 67%, #43187f 67%, #2989d8 90%, #4aaee8 96%, #050736 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4aaee8 0%,#75bce5 2%,#5c447c 7%,#050736 12%,#43187f 63%,#43187f 67%,#43187f 67%,#2989d8 90%,#4aaee8 96%,#050736 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4aaee8 0%,#75bce5 2%,#5c447c 7%,#050736 12%,#43187f 63%,#43187f 67%,#43187f 67%,#2989d8 90%,#4aaee8 96%,#050736 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaee8', endColorstr='#050736',GradientType=0 ); /* IE6-9 */
    
    color: white;
}

.modal-body {

    color: white;  
    background:#12195b;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aaee8', endColorstr='#050736',GradientType=0 ); /* IE6-9 */

}

.modal-content {

    color: white;  
    background-color: #050736;

}





/*componente*/

.avatar, #boton-portada {

    -webkit-filter: drop-shadow(5px 5px #050736 );
    filter: drop-shadow(5px 5px #050736 );

}

.avatar {
 
    width: 10%;
    margin-bottom: 20px;
    margin-top: 100px;
    
    animation: vaiven 3s infinite;
    animation-direction: alternate;

}

@keyframes vaiven {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(0, 8px);
    }
  }

.span4 {
    text-align: center;
}

h1, h4, .butt-scroll {
    
    text-shadow: 5px 5px #050736 ;
    color: white;

  }
  
h1 {

    font-family: rakyat;

}

.butt-scroll {

    text-decoration: none;
    text-align: center;
    font-size: 250%;
    font-size: 5vw;

    animation: lookdown 0.5s infinite;
    animation-direction: normal;

    scroll-behavior: smooth;

}

a:link, a:visited, a:hover, a:active { text-decoration: none; color: white;}

@keyframes lookdown {
    0% {
      transform: translate(0, 0);    
    }
    100% {
      transform: translate(0, 2px);
    }
  }

  .butt-scroll:hover {

    animation: here 0.5s infinite;
    animation-direction: alternate;
  
  }
  
  @keyframes here {
    0% {
      transform: scale(100%);    
    }
    100% {
      transform: scale(110%);
   
    }
  }

  @media screen and (max-width: 500px) {

    .avatar {
 
        width: 50%;

    }

  }
